body {
    background:#EEE;
    margin-top:60px;
}

.list-item { 
    background:white;
    color:black;
    margin-bottom:30px;
    box-shadow:0 1px 5px 3px rgba(0,0,0,.1);
    border-radius:4px;
}

.list-item .image-cap {
    padding:10px;
}

.list-item .image-cap img {
    background:black;
}

.list-item .item-content {
    padding:10px;
    padding-top:0;
    overflow:hidden;
}

.list-item .item-content .span8, .list-item .item-content .span4 { 
    min-height:0;
}

.list-item .item-content .span4 { 
    text-align:right;
}